<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @api_recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @api_recipe.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @api_recipe.amount %>
</p>

<p>
  <strong>Amountunits:</strong>
  <%= @api_recipe.amountUnits %>
</p>

<p>
  <strong>Amountunits:</strong>
  <%= @api_recipe.amountUnits %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @api_recipe.instructions %>
</p>

<%= link_to 'Edit', edit_api_recipe_path(@api_recipe) %> |
<%= link_to 'Back', api_recipes_path %>
